---
layout: default
tagline: "A foolish man could not always lose!"
description: "Fooleap 的个人博客，记录学习工作生活的点点滴滴，话题方向在于 Linux，跑步，旅行。"
tags: [fooleap, Linux, Arch Linux, 慢跑, 徒步, 骑行]
---
{% include JB/setup %}

<div class="page-header">
  <h2>{{ page.tagline }}</h2>
</div>

<div class="row">
  <div class="col-sm-8 col-xs-12">
      {% for post in paginator.posts %}
      <div class="post">
        <div class="title">
          <h2 class="col-sm-10 col-xs-12"><a href="{{ BASE_PATH }}{{ post.url }}" title="{{ post.description }}" >{{ post.title }}</a></h2>
          <time class="col-sm-2 col-xs-12" datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
        </div>
        <div class="featurette">
          {% if post.thumbnail == nil %}
          <img class="thumbnail col-sm-3 col-xs-12" src="http://pic.yupoo.com/fooleap_v/CCqZxJwB/small.jpg" alt="{{ post.title }}">
          {% else %}
          <img class="thumbnail col-sm-3 col-xs-12" src="{{ post.thumbnail }}" alt="{{ post.title }}">
          {% endif %}
          <div class="description col-sm-9 col-xs-12">{{ post.description }}</div>
        </div>
      </div>
      {% endfor %}

      <ul class="pagination col-sm-8 col-xs-12">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <li><a href="/" class="previous">&larr; 上一页</a></li>
        {% else %}
        <li  class="previous"><a href="/page{{paginator.previous_page}}/">&larr; 上一页</a><li>
        {% endif %}
      {% else %}
      <li class="previous disabled"><a href="#">&larr; 上一页</a></li>
      {% endif %}
      <li class="disabled"><a href="#">第 {{paginator.page}} 页 / 共 {{paginator.total_pages}} 页</a></li>
      {% if paginator.next_page %}
      <li class="next"><a href="/page{{paginator.next_page}}">下一页 &rarr;</a></li>
      {% else %}
      <li class="next disabled "><a href="#">下一页 &rarr;</a></li>
      {% endif %}
      </ul>
    </div>

  {% include JB/custom/sidebar %}
</div>
