---
layout: page
title: "技术"
description: "Fooleap 的个人博客，记录学习工作生活的点点滴滴，话题方向在于 Linux，跑步，旅行。"
tags: [Linux, Arch Linux, 慢跑, 徒步, 骑行]
---
{% include JB/setup %}

<div class="row">
  <div class="span7">
    <ul class="posts category">
      {% for post in site.categories.tech %} 
      <li>
        <div class="title">
          <a href="{{ BASE_PATH }}{{ post.url }}" title="{{ post.description }}" >{{ post.title }}</a>
          <time class="pull-right" datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
        </div>
        <hr />
      </li>
      {% endfor %}
    </ul>
  </div>
  {% include JB/custom/sidebar %}
</div>
