/* Override some defaults */
html {
  background-color: #eee;
  overflow-y:scroll;
}
body {
  background-color: #eee;
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
body a {
  text-decoration: none !important;
}
blockquote{
  padding: 15px;
  margin: 15px;
}
blockquote p {
  font-size:13px;
  margin-bottom: 0!important;
}

.container > footer p {
  text-align: center; /* center align it with the container */
}
.container, .navbar-fixed-top .container{
  width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

.container .brand{
  width:160px;
  height:20px;
  background: url(../img/fooleap.png) no-repeat;
}
.content {
  background-color: #fff;
  min-height:600px;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.navbar-inner .brand {
  color: #fff;
}
.search-box {
  height: 10px!important;
  margin: 0 0 -6px!important;
  font-size: 9px!important;
}
.search-query {
  padding-left: 26px !important;
  width: 110px !important;
}
.icon-search {
  position: absolute;
  top: 6px;
  left: 8px;
}
.rss-button {
  position: relative;
  top: 5px;
  width: 40px;
  height: 14px;
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;
  margin: 0 0 10px 20px;
  padding: 2px 5px 2px 4px;
}
.icon-rss {
  opacity: 0.65;
  width: 16px;
  background: url("../img/rss-icons.png") no-repeat scroll 0px 0px transparent;
}
/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 0px;
  margin: -20px -20px 10px;
}

.page-header a {
  color: rgb(153, 153, 153);
}
.page-header h1 small{
  font-size:60%;
}
.topbar .btn {
  border: 0;
}
.span7 {
  width: 580px;
  margin-top: 10px;
  letter-spacing:0.6px;
  line-height:150%;
}
.span10 {
  width: 820px;
}
/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box.inline {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
.span10 ul img, .span10 ol img{
    max-width:550px;
}

table {
  width:100%;
}
ul.posts {
    list-style-type: none;
    overflow: auto;
    height:795px;
    margin:0;
}
ul.category {
    height:auto;
}

.posts li {
  display:block;
  float:left;
  width:100%;
}
.title {
  font-size:15px;
  line-height:18px;
}
.title time{
  width:175px;
  text-align:right;
}
.featurette {
  height:100px;
  margin:10px 5px 15px;
}
.description {
  text-indent:2em;
  font-size:14px;
  line-height:20px;
  width:400px;
  height:80px;
}
.thumbnail {
  display:inline;
  width:150px;
  height:94px;
}
.more a{
  font-size:12px;
  color:rgb(51,51,51);
}
.featurette-divider {
  margin:0;
}
.sidebar {
  list-style-type: none;
  float:left;
}
.sidebar .cloud{
  margin:0 5px;
}
.sidebar ul li {
  display:block;
  width:100%;
}
